/* #slogo{
    position: absolute;
    width: 100px;
    height: 100px;
} */

#school-name{
    text-align: center;
    /* margin: 30px; */
}

.heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#election-menu{
    text-align: center;
}

.emenu{
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cfd1d4;
}